<%= stylesheet_link_tag :questions %>

<h1><%= @question.name %></h1>

<p><%= @question.hint_1 %></p>

<p><%= @question.hint_2 %></p>

<p><%= @question.hint_3 %></p>

<form>
  <label for="guess">Enter your guess:</label><br>
  <input type="text" id="guess" name="guess"><br>
  <input type="submit", value="Submit">
</form>
