<div class = 'pres_table'>
  <div id = 'pres_label'>
    <%= "PRESIDENT NUMBER" %><br>
  </div>
  <div id = 'pres_number'>
    <%= @question.id %>
  </div>
  <div>
    <%= @question.years %>
  </div>
</div><br>



<div class='pres_table'>
    <%= "Enter your guess: "%>
    <input type = "text_area", id = 'guess_input'>
    <button id='guess_button'> Submit </button>
</div><br>

<div id = 'hint_table'>
  <div>
    <%= "There are three hints of increasing obviousness for each president."%>
  </div>
  <div class = 'hint-button'>
    <button id = 'hint'> HINT </button>
  </div>
  <br>

  <div>
    <div id = 'hint-1'>
      <%= @question.hint_1 %>
    </div>
    <br>
    <div id = 'hint-2'>
      <%= @question.hint_2 %> 
    </div>
    <br>
    <div id = 'hint-3'>
      <%= @question.hint_3 %> 
    </div>
</div>



<%= javascript_pack_tag 'question'  %>

