<%= stylesheet_link_tag :questions %>

<h1><%= "President number " + @question.id.to_s %><br>
</h1>

<h2><%= @question.name %></h2>

<div>
    <input type = "text_area", id = 'guess_input'>
    <div>
      <button id='guess_button'> Submit </button>
    </div>
</div><br>

<div class = 'hint-button'>
  <button id = 'hint'> HINT </button>
</div>

<div class = 'hint_table'>
  <div id = 'hint-1'>
    <%= @question.hint_1 %> 
  </div>

  <div id = 'hint-2'>
    <%= @question.hint_2 %> 
  </div>

  <div id = 'hint-3'>
    <%= @question.hint_3 %> 
  </div>

</div>



<%= javascript_pack_tag 'question'  %>

