<%= stylesheet_link_tag :questions %>

<h1><%= "President number " + @question.id.to_s %><br>
</h1>

<h2><%= @question.name %></h2>

<div class = 'hint-button'>
  <button id = 'hint'> HINT </button>
</div>

<div class = 'hint_table'>
  
  <%= @question.hint_1 %> <br>

  <%= @question.hint_2 %> <br>

  <%= @question.hint_3 %> <br>

</div>



<%= form_with url: "/questions/answer", id: :myGuess, method: :get do |form| %>
  <br> <%= form.label :guess, "Enter guess:" %>
  <%= form.text_field :guess %><br>
  <%= form.submit "Submit" %>
  
<% end %>


<%= javascript_pack_tag 'question' %>

