<%= stylesheet_link_tag :questions %>

<h1><%= "President number " + @question.id.to_s %><br>
</h1>

<h2><%= @question.name %></h2>

<div class = 'hint-button'>
  <button id = 'hint'> HINT </button>
</div>

<div class = 'hint_table'>
  <div id = 'hint-1'>
    <%= @question.hint_1 %> 
  </div>

  <div id = 'hint-2'>
    <%= @question.hint_2 %> 
  </div>

  <div id = 'hint-3'>
    <%= @question.hint_3 %> 
  </div>

</div>



<%= form_with url: "/questions/#{@question.id + 1}
", id: :myGuess, method: :get do |form| %>
  <br> <%= form.label :guess, "Enter guess:" %>
  <%= form.text_field :guess %><br>
  <%= form.submit "Submit" %>
  
<% end %>




<%= javascript_pack_tag 'question'  %>

