<%= stylesheet_link_tag :questions %>

<h1><%= @question.name %></h1>

<p><%= @question.hint_1 %></p>

<p><%= @question.hint_2 %></p>

<p><%= @question.hint_3 %></p>




<%= form_with url: "/answer", method: :get do |form| %>
  <br> <%= form.label :guess, "Enter guess:" %>
  <%= form.text_field :guess %><br>
  <%= form.submit "Submit" %>
<% end %>
